p{
    font-family:'Libre Baskerville', serif;
    font-weight: 700;
}
.lover{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    text-align: center;
}
h1{
    font-family: 'Zen Antique', serif;
    text-align: center;
}
h2, h3{
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    text-align: center;
}
.paddington{
    display: flex;
    justify-content: center;
}
.paddington img{
    width: 25%;
    padding: 1rem;
}
.zine{
    display: flex;
    justify-content: center;
}
.zine img{
    width: 80px;
    padding: 1;
}
.recent-work{
    display: flex;
    justify-content: center;
}
.recent-work img{
    width: 25%;
    padding: 1rem;
}
.recent-work2{
    display: flex;
    justify-content: center;
}
.recent-work2 img{
    width: 25%;
    padding: 1rem;
}
.recent-work3{
    display: flex;
    justify-content: center;
}
.recent-work3 img{
    width: 25%;
    padding: 1rem;
}
header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: rgba(0,0,0,.5);
}
nav>a{
    padding: 1rem 2rem;
    font-family:'Libre Baskerville', serif;
    font-style: italic;
    font-weight: 600;
    color:white;
    display: inline-block;
}
nav>a:hover{
    color:honeydew;
}
body#index{
    background-image:url(images/highlands.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgrey;
}
body#lets-get-in-touch{
    background-image: url(images/landscape.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkgrey;
}
.welcome>h1{
    padding: 4rem 0;
    color: white;
}
.instagram>h1{
    padding: 4rem 0;
}
.svg{
    display: flex;
    justify-content: center;
}
.svg img{
    width: 25%;
}